<%- include('_partials/header.ejs') %>
<!--The above section brings in the head tags and also adds the starting part of the body-->
<div class="aboutContainer">

    <div class="aboutImageCont">
        <img src="/img/author.jpg" alt="" srcset="">
        <h2>Theophilus Owiti</h2>
        <p>Carnegie Mellon University - Africa</p>
        <p style="color: rgb(51, 93, 218);"><i>MSEAI 27'</i></p>
    </div>

    <div class="infoSec">

        <div class="courseDet">
            <div class="courseDetImg">
                <img src="/img/cmuafri.png" alt="" srcset="">
            </div>

            <div class="courseDetInfo">
                <h3>04-645 Internet of Things (IoT)</h3>
                <br>
                <p>Lab: 03</p>
                <br>
                <p>Fall 2025</p>
            </div>

        </div>

        <div class="projInfo">
            <p>This project involves delivering projection of a temperature sensor data on a dashboard and 
            enable a user to control different room conditions such as lighting below are some of the project's components:</p>

            <ul>
                <li>REST API (Node.js & Express)</li>
                <li>Database (PostgreSQL)</li>
                <li>Chart.js</li>
                <li>EJS</li>
            </ul>

        </div>

    </div>
</div>
<!--The section below brings in the footer of the page and ending closing HTML tags-->
<%- include('_partials/footer.ejs') %>