<%- include('_partials/header.ejs') %>
<!--The above section brings in the head tags and also adds the starting part of the body-->

<!--Insert Chart.js CDN here-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<div class="maintopContainer">
    <div class="topContSect">
        <h2>Smart Room Assitant | Dashboard</h2>
       <div class="innerContent">
         <p class="partA">Dear User, welcome to your dashboard. You can now easily switch on and off your lights. To make it easier for you. Try and switch of all the lights using the button below.</p>
            <div class="innerContSect">
                <input type="text" name="rmNameInput" id="rmName" class="innerContInput" placeholder="e.g Kitchen Area">
                <button id="innerContAddBtn">Add Room</button>
            </div>

       </div>
    </div>

    <div class="topContSect">
         <div class="topContSectLabel">
            <p>Rooms Panel</p>
            <p class="topTempStats">Avg Temp: <%= avgTemp %> &deg; C</p>
            <button id="btnToggleAllLightsOn">Turn On Lights</button>
            <button id="btnToggleAllLightsOff">Turn Off Lights</button>
        </div>
         
         <div class="messagesContainer" id="msgCont">
            <!--<div class="successMsg" id="passMsg">
                <p><i class="fa fa-circle-check"></i> Hello, this message!</p>
            </div>

            

             <div class="warnMsg" id="warningMsg">
                <p><i class="fa fa-triangle-exclamation"></i> Hello, this message!</p>
            </div>-->

            

         </div>

         <div class="roomsContainer" id="rmContainer">
            <!--Room Cards get populated by JavaScript Fetch API-->

         </div>
    </div>
</div>

<div class="chartContainerBox">
    <canvas id="chartContainer" width="300" height="80"></canvas>
</div>
<script src="/js/main.js"></script>





<!--The section below brings in the footer of the page and ending closing HTML tags-->
<%- include('_partials/footer.ejs') %>